<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <body>
   <div class="topnav">
        <div class="login-container">
        <a class="lgbtn" href="{% url 'home' %}">Home</a>
        </div>
    </div>  
    
    <div class="center">
      <h1>Password Reset Sent</h1>
      <p>We’ve Emailed you instructions for setting your password</p>
      <br>
    </div>

  </body>
</html>