<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <body>
   <div class="topnav">
        <div class="login-container">
        <a class="lgbtn" href="{% url 'home' %}">Home</a>
        </div>
    </div>  
    
    <div class="center">
      <h1> Enter New Password</h1>
      <form method="POST" action="">
        {% csrf_token %}
       
 
        <div class="txt_fieldd">
            {{form}}
            <span></span>
          </div>
          <br>
          <input type="submit" value="Update Password">
          <br><br>
      </form>
    </div>

  </body>
</html>